.notification{
    position: fixed;
    top: 5px;
    padding: 10px;
    border-radius: 4px;
    color: black;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.notification.success{
    background-color: #aff1c3;
    border: 2px solid #287e42;
    color: #287e42;
    margin-top: 80px;
}
.notification.error{
    background-color: rgb(148, 33, 42);
    border: 2px solid red;
    color: white;
}