.button-group{
    margin-top: auto;
}

.code-square{
    background-color: #aff1c3;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    transition: all 0.3s ease;
}

.code-square button{
    display: none;
}

.code-square:hover{
    background-color: #19af20;
}

.code-square:hover button{
    display: inline-block;
}

.col-md-3{
    height: 50vh;
}

button:disabled{
    background-color: grey;
}