.dialog-container{
    padding: 20px;
}
  
.dialog-actions{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.display-4{
    color: white;
    -webkit-text-stroke: 1px #19af20;
}
  

.btn-cancel{
    background-color: white;
}
  
.btn-submit:not(:disabled){
    background-color: #19af20;
    border: 1px solid #19af20;
    color: white;
}
  
.btn-submit:disabled{
    color: white;
    border: 1px solid white;
}

h2 {
    color: white;
    -webkit-text-stroke: 1px #19af20;
    text-align: center;
    font-size: 2.7em;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  