<div class="landing-page container-fluid">
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 row">
            <h1>Landing.</h1>
            <div class="col-md-2"></div>
            <div class="col-md-8 btn-group-vertical">
                <button class="btn btn-home" (click)="openSignupDialog()">Criar conta</button>
                <button class="btn btn-home" (click)="openLoginDialog()">Efetuar login</button>
                <button class="btn btn-home" routerLink="/lab">Só quero testar algo.</button>
            </div>            
            <div class="col-md-2"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>