.btn-container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 3;
}

.btn-home{
    background-color: #aff1c3;
    border: 1px solid #468157;
    margin-bottom: 1vh;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 15px 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-home:active,
.btn-home:focus{
    background-color: #aff1c3;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: none;
}
.btn-home:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #70d68f;
}

.btn-test{
    font-size: 1.4em;
    width: 100%;
}
.landing-page {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-green {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #aff1c3;
    z-index: 1;
    border-bottom-right-radius: 2vw;
    /*box-shadow: 3px 0px 25px -3px rgb(167, 167, 167);*/
}

.bg-white {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 0;
}
.bg-white::before {
  content: "";
  position: absolute;
  
  background-color: white;
  height: 50px;
  width: 25px;
  border-top-left-radius: 4vw;

  box-shadow: 0 -25px 0 0 #aff1c3;
}

.content {
    position: relative;
    z-index: 2;
}

.left-part {
    background-color: #aff1c3;
    width: 80vw;
    height: 5vh;
    border-bottom-right-radius: 40vw;
    z-index: 2;
}
.right-part {
    background-color: white;
    width: 50vw;
    margin-left: 10vw;
    height: 5vh;
    border-top-left-radius: 40vw;
}
.right-part-bg {
    background-color: #aff1c3;
    width: 50vw;
    height: 5vh;
    position: absolute;
}

.metode-left{
    color: white;
    -webkit-text-stroke: 1px #468157;
}
.metode-right{
    color: #aff1c3;
    -webkit-text-stroke: 1px #468157;
}

h1{
    font-size: 6em;
    font-weight: bold;
}