<div class="chat-window" [ngClass]="{ 'expanded': isExpanded }">
    <div class="chat-header" (click)="toggleExpand()">
        <p>Pergunte ao professor</p>
        <hr>
    </div>

    <div class="chat-body m-1" *ngIf="isExpanded">
        <div class="chat-messages" #chatMessages>
            <pre *ngFor="let msg of messages; let i = index" 
               [ngClass]="{ 'user-message text-end': !isUserMessage(msg), 
                            'system-message text-start': isUserMessage(msg) }">
                {{ msg }}
            </pre>
        </div>
        
    </div>
    <div *ngIf="loading" class="loading-indicator">
            <p>Hmm... Um momento...<br>(Cuidado com a identação em certos códigos)</p>
        </div>
    <div class="chat-input" *ngIf="!loading">
        <input (keyup.enter)="sendMessage()" type="text" placeholder="Tire suas dúvidas relacionadas a código" [(ngModel)]="message">
        <button class="btn-submit" (click)="sendMessage()" [disabled]="loading">Enviar</button>
    </div>
</div>
