.chat-body{
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.chat-header{
    background-color: rgba(89, 145, 89, 0.349);
    color: black;
    text-align: center;
    border: 2px solid darkgreen;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

.chat-header p{
    margin: 0;
}

.chat-input{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid black;
    background-color: white;
}

.chat-input input{
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}

.chat-input button{
    margin-left: 10px;
    background-color: #00bf77;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover{
    background-color: #07754b;
}

.chat-messages{
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.chat-window{
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 25vw;
    background-color: #f5f5f5;
    border: 1px solid white;
    transition: all 0.3s ease;
    z-index: 100;
}

.chat-window:not(.expanded){
    height: 60px;
}

.chat-window.expanded .chat-body{
    height: 500px;
}

.loading-indicator{
    text-align: center;
    margin-top: 15px;
    font-style: italic;
    color: grey;
}

.user-message{
    background-color: rgba(89, 145, 89, 0.349);
}

.system-message{
    background-color: #2f8645;
}

hr{
    width: 60%;
    margin: 0 auto;
}