<h2 class="title" *ngIf="!isDeletion">Login</h2>
<h2 class="title" *ngIf="isDeletion">Confirme suas credenciais</h2>

<div class="login-container">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="loginData.email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Senha</mat-label>
        <input matInput (keyup.enter)="onSubmit()" [(ngModel)]="loginData.pwd" type="password" placeholder="Senha" required>
    </mat-form-field>

    <p *ngIf="loginFailed && !isDeletion" class="error-message">Login Falhou. Confira seu email e senha <br>(Letras maísculas inclusive).</p>
    <p *ngIf="loginFailed && isDeletion" class="error-message">Suas credenciais estão incorretas.</p>
</div>

<mat-dialog-actions align="end" class="action-buttons">
    <button mat-button class="btn-cancel" (click)="onClose()">Cancelar</button>
    <button mat-button class="btn-submit" [disabled]="loading || !loginData.email || !loginData.pwd" (click)="onSubmit()">Login</button>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20" class="custom-spinner"></mat-progress-spinner>
</mat-dialog-actions>
