<h2>Login</h2>
<div>
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="loginData.email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="loginData.pwd" type="password" placeholder="Senha" required>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Cancelar</button>
    <button mat-button (click)="onSubmit()">Entrar</button>
</mat-dialog-actions>