<h2 class="title">Cadastrar</h2>
<div class="signup-container container-fluid">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="signupData.email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome de exibição</mat-label>
        <input matInput [(ngModel)]="signupData.dname" placeholder="Nome de exibição" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Senha</mat-label>
        <input 
            matInput 
            [(ngModel)]="signupData.pwd" 
            [type]="toggle.type"
            placeholder="Senha" 
            required>
        <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
    </mat-form-field>

    <mat-password-strength
        class="password-meter green"
        [password]="signupData.pwd"
        [min]="6"
        [enableUpperCaseLetterRule]="true"
        [enableLowerCaseLetterRule]="true"
        [enableDigitRule]="true"
        [enableSpecialCharRule]="true"
        [warnThreshold]="21"
        [accentThreshold]="51"
        #pwdComp
    ></mat-password-strength>

    <div class="password-criterias">
        <b>Seu nome de usuário não deve conter espaços</b><br>
        <b>Sua senha deve conter:</b>
        <p>• Uma letra minúscula • Uma letra maiúscula</p>
        <p>• Um número • Um caractere especial</p>
        <p>• E no mínimo 6 dígitos</p>
    </div>
</div>

<mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button class="btn-cancel" (click)="onClose()">Cancelar</button>
    <button mat-button class="btn-submit" 
        [disabled]="
        loading ||  
        !isNameValid(signupData.dname) ||
        !signupData.email || 
        !signupData.pwd || 
        !signupData.dname || 
        !isValid(signupData.pwd)" 
        (click)="onSubmit()">Cadastrar</button>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20" class="custom-spinner"></mat-progress-spinner>
</mat-dialog-actions>
