<div class="container-fluid text-center string-container">
  <h2 class="text-center">Texto livre</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Insira qualquer texto aqui!</mat-label>
        <input matInput [(ngModel)]="newItem">
      </mat-form-field>
    </div>
  </div>
</div>

<mat-dialog-actions class="dialog-actions">
    <button mat-button class="btn-cancel" (click)="closeDialog()">Cancelar</button>
    <button mat-button class="btn-submit" [disabled]="!newItem" (click)="addItem()">Adicionar</button>
  </mat-dialog-actions>