<h2 class="text-center">{{ (operation === 'ADD') ? "ADICIONAR A LISTA" : (operation === 'REMOVE') ? "REMOVER DA LISTA" : "ITERAÇÃO" }}</h2>
<div class="container dialog-container">
  <div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-start justify-content-center">
      
      <ng-container *ngIf="operation !== 'LOOP'; else regularOperation">
        <div class="row w-100">
          <div class="col-md-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ operation === 'FOREACH' ? 'Lista para iterar' : 'Lista para modificar' }}</mat-label>
              <mat-select [(ngModel)]="targetVar" (selectionChange)="onTargetVarChange()">
                <mat-option *ngFor="let vari of availableVars" [value]="vari">{{ vari }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-2"></div>

          <div class="col-md-5">
            <ng-container *ngIf="operation !== 'FOREACH'; else forEachTemplate">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Valor customizado</mat-label>
                <input matInput [(ngModel)]="customVal" type="internalType === 'integer[]' || internalType === 'float[]' ? 'number' : 'text'" [disabled]="selectedVar !== ''">
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ou variável</mat-label>
                <mat-select [(ngModel)]="selectedVar" [disabled]="customVal !== ''">
                  <mat-option *ngFor="let vari of matchingVars" [value]="vari">{{ vari }}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>

          <ng-template #forEachTemplate>
            <h4 *ngIf="targetVar">Para cada "item" em {{ targetVar }}</h4>
          </ng-template>
        </div>
      </ng-container>

      <ng-template #regularOperation>
        <div class="w-50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Insira o número de repetições</mat-label>
            <input matInput type="number" [(ngModel)]="loops" min="1">
          </mat-form-field>
        </div>
      </ng-template>

    </div>
  </div>
</div>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button class="btn-cancel" (click)="closeDialog()">Cancelar</button>
  <button mat-button class="btn-submit" (click)="addOperation()" [disabled]="!isInputValid()">Adicionar</button>
</mat-dialog-actions>
