.answer{
    min-height: 20vh;
    margin: 20px;
  }
  
  .bi{
    font-size: 15px;
    margin: 0 5px 5px;
    color: darkgray;
  }
  
  .item, .vari, .functoper {
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: grab;
  }
  
  .cdk-drag-preview {
    background-color: #e0e0e0;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .list-body {
    border: solid 1px #ccc;
    min-height: 60px;
    max-height: 50vh;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  h3 {
    margin-top: 20px;
    text-align: center;
  }